[submodule "XilinxTclStore"]
	path = XilinxTclStore
	url = https://github.com/Xilinx/XilinxTclStore
[submodule "fpga_vivado_scripts_pr"]
	path = fpga_vivado_scripts_pr
	url = https://github.com/lastweek/fpga_vivado_scripts_pr
